.App {}

.App-wrapper {
  background-color: #FFDF8C;
  padding: 100px;
}

.App-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
}

.content-wrapper {
  width: 76%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

li {
  list-style: none;
}